<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>navbar}}

    <!-- DASHBOARD -->
    <header class="bg-primary text-white py-2">
        <div class="container">
            <h1>{{post.title}}</h1>
        </div>
    </header>

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/user/dashboard" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-left"></i> Back To Dashboard
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-block" id="edit-save-post">
                        <i class="fas fa-check"></i> Save Changes
                    </a>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deletePostModal">
                        <i class="fas fa-trash"></i> Delete Post
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- EDIT POST -->
    <section id="edit-post">
        <div class="container">
            <div class="row">

                {{>messages}}
 
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Post</h4>
                        </div>
                        <div class="card-body">
                            <form id="add-post-form" class="user-form" method="POST" action="/user/post/editsave/{{post._id}}">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" name="title" value="{{post.title}}"
                                        data-parsley-required="true" />
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select name="category" class="form-control" data-parsley-required="true">
                                        <option value="">--- Select --- </option>
                                        {{#each allCategories}}
                                            <option value="{{_id}}" {{#if (eq _id ../post.category)}} selected {{/if}}>{{title}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <!--
                                <div class="form-group">
                                    <label for="title">Upload Image</label>
                                    <div class="input-group">
                                        <label for="title" class="custom-file-label">Choose File</label>
                                        <div class="custum-file">
                                            <input type="file" class="custom-file-input" />
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Browse</span>
                                        </div>
                                    </div>
                                    <small class="text-muted">Max Size 3mb</small>
                                </div>
                                -->
                                <div class="form-group">
                                    <label for="body">Body</label>
                                    <textarea name="body" class="form-control" data-parsley-required="true">{{post.body}}</textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    <!-- Add Post Modal -->
    <div class="modal fade" id="deletePostModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Delete Post</h5>
                    <button class="close" type="button" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="h5 font-weight-bolder">Are you sure to delete post?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="delete-post-btn" data-delete-url="/user/post/delete/{{post._id}}">DELETE</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>                
            </div>
        </div>
    </div>

    {{>scripts}}

    <script>
        $(function(){
            $('#deletePostModal').on('shown.bs.modal', function(e) { console.log('modal deletePostModal shown')
                $("#delete-post-btn").on('click', function () {
                    window.location = $("#delete-post-btn").data('delete-url')
                });
            })
        })
    </script>
</body>
</html>